.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 1199px) {
    .my-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        height: 100%;
    }
}

@media (max-width: 375px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    } 

    .header {
        height: 75px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .header .logo {
        height: 55px;
        left: 15px;
    }

    .header .bars {
        position: absolute;
        top: 13px;
        right: 15px;
        font-size: 32px;
        color: white;
    }

    .header .menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: skyblue;
        z-index: 999;
        width: 100%;
        height: 0;
        border-top: 1px solid white;
        transition: height 1s ease-in-out;
        overflow: hidden;
    }

    .header .menu.opened {
        height: 100vh;
    }

    .header .menu ul li {
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid white;
        color: white;
    }

    .slider {
        margin-top: 75px;
    }

    .slider .fas {
        font-size: 32px;
    }

    .slider .text {
        bottom: 10px;
        left: 15px;
        padding: 10px 15px;
    }

    .slider .text h2 {
        font-size: 16px;
    }

    .slider .text p {
        font-size: 13px;
        margin-bottom: 0;
    }

    .content .list .item, .footer .main .item {
        width: 100%;
    }
}