body {
    margin: 0;
}

.clearfix {
    clear: both;
}

.my-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*----- Header -- start -----*/
.header {
    height: 100px;
    background: skyblue;
}

.header .logo {
    height: 80px;
    position: absolute;
    top: 10px;
    left: 0;
}

.header .logo img {
    max-height: 100%;
}

.header .menu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header .menu ul li {
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 36px 0 35px;
    font-size: 20px;
    cursor: pointer;
}

.header .menu ul li:hover {
    background: black;
    color: white;
}

.header .search {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 50px;
}

.header .menu .parent {
    position: relative;
    z-index: 1;
}

.header .menu .child {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150%;
    height: 0%;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    transform: translateX(-50%);
    /* display: none; */
}

.header .menu .child li {
    width: 50%;
    float: left;
    color: black;
    background: gray;
}

.header .menu .parent:hover .child {
    height: 200%;
    /* display: block; */
}
/*----- Header -- end -----*/

/*----- Slider -- start -----*/
.slider .fas {
    font-size: 50px;
}

.slider .text {
    color: skyblue;
    position: absolute;;
    bottom: 50px;
    left: 50px;
    z-index: 1;
    padding: 15px 30px;
    background-color: rgba(0,0,0,0.7);
}
/*----- Slider -- end -----*/

/*----- Content -- start -----*/
.content .my-container {
    padding: 15px;
    border: 1px solid black;
}

.content .title,
.footer .title {
    padding: 5px 25px;
    background-color: skyblue;
    display: inline-block;
    border: 1px solid black;
    color: black;
}

.content .controls {
    float: right;
}

.content .controls button,
.content .paging .pages button {
    padding: 2px 10px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px grey;
    transition: box-shadow 0.5s ease-in-out;
}

.content .controls button:hover {
    box-shadow: 2px 2px grey;
}

.content .list {
    padding-top: 30px;
}

.content .list .item,
.footer .main .item {
    /* height: 500px; */
    width: 32%;
    /* background: yellow; */
    /* border: 1px solid black; */
    float: left;
    margin-right: 2%;
    margin-bottom: 15px;
}

/* .content .list .item:nth-child(3n), */
.content .list .item.last,
.footer .main .item.last {
    margin-right: 0;
}

.content .item img {
    width: 100%;
}

.content .item .blog-title {
    font-weight: bold;
    font-size: 24px;
    margin: 16px 0 5px;
}

.content .item .text span {
    float: right;
    font-style: italic;
}

.content .paging .pages button.unbutton {
    border: none;
    cursor: unset;
}

.content .paging p {
    float: right;
    font-style: italic;
}
/*----- Content -- end -----*/

/*----- Footer -- start -----*/
.footer .my-container {
    background: black;
}

.footer .main {
    color: white;
    padding: 15px;
}

.footer .main .item {
    /* background: yellow; */
}

.footer .sub {
    color: white;
    text-align: right;
    padding: 10px 15px;
    border-top: 1px solid white;
}

.footer .main .text {
    margin-top: 25px;
    margin-bottom: 15px;
}

.footer .main .social {
    font-size: 30px;
}

.footer .posts {
    margin-top: 25px;
}

.footer .image {
    width: 40%;
    display: inline-block;
}

.footer .image img {
    max-width: 100%;
}

.footer .text-1 {
    width: 58%;
    display: inline-block;
    text-align: right;
}

.footer .text-1 p {
    font-style: italic;
}

.footer .posts .post {
    margin-bottom: 15px;
}

.footer .categories {
    margin-top: 25px;
}

.footer .categories span {
    float: right;
}
/*----- Footer -- end -----*/

/*----- Effect -- start -----*/
.effect .img {
    position: relative;
}

.effect .eff-text {
    padding: 15px;
}

.effect .eff-content-1 {
    position: absolute;
    /* top: 0; */
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.effect:hover .eff-content-1 {
    height: 100%;
}

.effect .eff-content-2 {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    height: 100%;
    width: 0%;
    overflow: hidden;
    transition: width 1s ease-in-out;
}

.effect:hover .eff-content-2 {
    width: 100%;
}

.effect .eff-content-3 {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    height: 100%;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
}

.effect:hover .eff-content-3 {
    opacity: 1;
}

.zoom .img {
    overflow: hidden;
}

.zoom .img img {
    transition: all 1s ease-in-out;
}

.zoom .img img:hover {
    transform: scale(1.2);
}


/*----- Effect -- end -----*/
