.xyz {
    font-size: 100px;
}

#help {
    background-color: black;
    color: white;
}

/* Tất cả các phần tử HTML là thẻ p nằm bên trong phần tử HTML bất kỳ có class là demo */
.demo p {
    font-size: 20px;
    color: red;
}

/* Tất cả phần tử HTML là thẻ p là con của phần tử HTML bất kỳ có class là demo */
.demo > p {
    color: green;
}

/* Group selector => thoả một trong 2 selector là ok */
.demo > p, .demo p {
    font-style: italic; /* In nghiêng */
}

/* Tất cả phần tử HTML là thẻ span nằm bên trong phần tử HTML bất kỳ có class là demo */
.demo span {
    font-weight: bold; /* In đậm */
}

/* Tất cả phần tử HTML có class là highlight nằm bên trong phần tử HTML có class là demo */
.demo .highlight {
}

/* Tất cả phần tử HTML có class là demo và highlight */
.demo.highlight {
}

/* Tất cả phần tử HTML là thẻ p nằm bên trong phần tử HTML là thẻ div */
div p {
}

/*
Nguyên tắc overwrite css:
- Selector mạnh hơn (sử dụng nhiều yếu tố để select hơn) thì sẽ được apply dù khai báo trước
- Nếu dùng cùng số lượng yếu tố thì khai báo CSS sau sẽ dè khai báo CSS trước
*/
.demo > p.text {
    font-size: 15px;
    color: white;
}

.demo .text {
    font-size: 10px;
    color: blue;
}


